* {
	/*--vibrant: ;*/
	/*--muted: ;*/

	/*--vibrant-light: ;*/
	/*--muted-light: ;*/

	/*--vibrant-dark: ;*/
	/*--muted-dark: ;*/
	transition: all 0.2s;
}

body::-webkit-scrollbar {
	width: 14px;
}

body::-webkit-scrollbar-track {
	background: var(--muted);
	border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
	background: var(--vibrant);
	border-radius: 3px;
}

/*@supports not selector(::-webkit-scrollbar) {*/
/*  body {*/
/*    scrollbar-color: var(--vibrant) var(--muted);*/
/*    scrollbar-width: auto;*/
/*    overflow-x: hidden;*/
/*  }*/
/*}*/

body {
	overflow-x: hidden;
}

li {
	text-decoration: none;
	list-style: none;
}
