* {
    transition: all 0.2s;
}

body {

    /*--primary: #D9559D;*/
    /*--secondary: #0396A6;*/

    /*--primary-light: #ffe845;*/
    /*--secondary-light: #61BEE2;*/


    /*--primary-dark: #F23E2E;*/
    /*--secondary-dark: #206E8C;*/

overflow-x: hidden;
}


li {
    text-decoration: none;
    list-style: none;
}