/* TODO delete: Potentially unused stylesheet. */
.bg-layer {
	background: url('/global/ink.png') no-repeat 0 0;
	background-size: 2500% 100%;
	animation: ani2 0.7s steps(24) forwards;
	animation-delay: 0.5s;
	z-index: -10;
}

@keyframes ani2 {
	0% {
		background-position: 0, 0;
	}
	to {
		background-position: 100%, 0;
	}
}

.t-lauyer {
	background: url('/global/modal-bg.webp') 0 0;
	background-attachment: fixed;
	z-index: 0;
}

.group:hover .description {
	opacity: 0.75;
	transform: translateY(0px);
	transition: 0.5s;
}
