.navBackground {
  position: fixed;
  text-align: center;
  background-color: var(--muted-dark);
  height: 120%;
  width: 80px;
  z-index: 5;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  background-color: var(--muted-dark);
  height: 100%;
  width: 80px;
  z-index: 5;
}

.navBackground:hover {
  width: 250px;
  transform: rotate(6deg) translate(-3px, -20px);
  -webkit-box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.75);
}

.navBackground:hover > .nav {
  padding: 50px 10px;
  transform: rotate(-6deg);
}

.logo {
  height: 50px;
  width: 80px;
}

.bitimeSVG {
  height: 100%;
  width: 100%;
}

.navElement {
  display: flex;
}

.navElement:hover {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  border: 1px solid var(--vibrant-light);
  padding: 0 25px;
}

.content {
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--vibrant-light);
  opacity: 0;
}

.navBackground:hover .content {
  display: flex;
  opacity: 1;
}

.navBackground:hover .fbContainer {
  animation-name: navSquareInit;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-duration: 0.5s;
}
.navBackground:hover .fbContainer .fb {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  z-index: 5;
  background: var(--muted-dark);
  color: var(--muted-dark);
  -webkit-box-shadow: 2px 3px 24px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 3px 24px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 24px 0 rgba(0, 0, 0, 0.4);
}

.fb {
  display: none;
}

.floatingBox1 {
  transform: rotate(13deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 14s;
}

.floatingBox2 {
  transform: rotate(11deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 13s;
}

.floatingBox3 {
  transform: rotate(16deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 11s;
}

.floatingBox4 {
  transform: rotate(97deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 8s;
}

.floatingBox5 {
  transform: rotate(108deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 7s;
}

.floatingBox6 {
  transform: rotate(157deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 11s;
}

.floatingBox7 {
  transform: rotate(78deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 16s;
}

.floatingBox8 {
  transform: rotate(118deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 16s;
}

.floatingBox9 {
  transform: rotate(117deg);
  animation-name: navSquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 14s;
}

.floatingBox1 {
  left: 500px;
  top: 100px;
  width: 50px;
  height: 50px;
}

.floatingBox2 {
  left: 600px;
  top: 300px;
  width: 100px;
  height: 100px;
}

.floatingBox3 {
  left: 300px;
  top: 600px;
  width: 180px;
  height: 180px;
}

.floatingBox4 {
  left: 700px;
  top: 100px;
  width: 80px;
  height: 80px;
}

.floatingBox5 {
  left: 1000px;
  top: 800px;
  width: 40px;
  height: 40px;
}

.floatingBox6 {
  left: 800px;
  top: 500px;
  width: 80px;
  height: 80px;
}

.floatingBox7 {
  left: 250px;
  top: 300px;
  width: 200px;
  height: 200px;
}

.floatingBox8 {
  left: 1000px;
  top: 600px;
  width: 150px;
  height: 150px;
}

.floatingBox9 {
  left: 1100px;
  top: 100px;
  width: 30px;
  height: 30px;
}

@keyframes navSquareInit {
  from {
    transform: scale(0) translate(900px, 0);
  }
  to {
    transform: scale(1) translate(0);
  }
}
@keyframes navSquare {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1) rotate(162deg);
  }
}
@media (max-width: 625px) {
  .navBackground {
    height: 50px;
    width: 120%;
  }

  .nav {
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: flex-end;
  }

  .navBackground:hover {
    width: 100%;
    transform: rotate(0deg) translate(0);
    -webkit-box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.75);
  }

  .navBackground:hover > .nav {
    padding: 0;
    transform: rotate(0deg);
    justify-content: flex-start;
  }

  .bitime {
    fill: var(--vibrant-light);
  }

  .navElement {
    display: flex;
  }

  .navElement:hover {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    border: 1px solid var(--vibrant-light);
    padding: 0 25px;
  }

  .content {
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--vibrant-light);
    opacity: 0;
  }

  .navBackground:hover .content {
    display: flex;
    opacity: 1;
  }

  .navBackground:hover .fbContainer {
    animation-name: navSquareInit;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-duration: 0.5s;
  }
  .navBackground:hover .fbContainer .fb {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    z-index: 5;
    background: var(--muted-dark);
    color: var(--muted-dark);
    -webkit-box-shadow: 2px 3px 24px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 3px 24px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 2px 3px 24px 0 rgba(0, 0, 0, 0.4);
  }

  .fb {
    display: none;
  }
}

/*# sourceMappingURL=Navbar.module.css.map */
