@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    transition: opacity, z-index, color ease-in-out .3s;
}

.button-animated {
    --duration: 0.5s;
    --move-hover: -4px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(var(--y));
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

.button-animated div {
    display: flex;
}

.button-animated div span {
    display: block;
    backface-visibility: hidden;
    font-style: normal;
}

.button-animated div span:nth-child(1) {
    --d: 0.05s;
}

.button-animated div span:nth-child(2) {
    --d: 0.1s;
}

.button-animated div span:nth-child(3) {
    --d: 0.15s;
}

.button-animated div span:nth-child(4) {
    --d: 0.2s;
}

.button-animated div span:nth-child(5) {
    --d: 0.25s;
}

.button-animated div span:nth-child(6) {
    --d: 0.3s;
}

.button-animated div span:nth-child(7) {
    --d: 0.35s;
}

.button-animated div span:nth-child(8) {
    --d: 0.4s;
}

.button-animated div span:nth-child(9) {
    --d: 0.45s;
}

.button-animated div span:nth-child(10) {
    --d: 0.5s;
}

.button-animated div span:nth-child(11) {
    --d: 0.55s;
}

.button-animated:hover {
    --y: var(--move-hover);
    --move: -4px;
    --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}

.button-animated:hover span {
    animation: move var(--duration) linear var(--d);
}

.button-animated.smoke {
    --move: 12px;
    --move-y: -8px;
    --blur: 4px;
}

.button-animated.smoke:hover span {
    --duration: 1s;
    animation: smoke var(--duration) linear var(--d);
}

@keyframes move {
    40% {
        transform: translateY(var(--move));
        text-shadow: var(--shadow-active);
    }
}

@keyframes smoke {
    45%, 55% {
        filter: blur(var(--blur));
    }
    50%, 50.1% {
        opacity: 0;
    }
    25%, 75% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(var(--move)) translateY(var(--move-y));
    }
    50.1% {
        transform: translateX(calc(var(--move) * -1));
    }
}

#title-landing {
    color: #fff;
    text-shadow: -0.0075em 0.0075em 0 #f4f3f4, 0.005em 0.005em 0 #b3b2b7, 0.01em 0.01em 0 #b7b6ba,
    0.015em 0.015em #bbbabe, 0.02em 0.02em 0 #bfbdc1, 0.025em 0.025em 0 #c3c1c5, 0.03em 0.03em 0 #c6c5c9, 0.035em 0.035em 0 #cac9cc;
    background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    /*display:none;*/
}

#title-landing:before,
#title-landing:after {
    content: "BRÉVAL LE FLOCH";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

#title-landing:before {
    z-index: -1;
    text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, .15)
}

#title-landing:after {
    z-index: -2;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .5), 20px 20px 20px rgba(0, 0, 0, .4), 30px 30px 30px rgba(0, 0, 0, .1);
    mix-blend-mode: multiply;
}