
.extendable {
  min-height: 100vh;
  margin-left: 200px;
}


.content {
  display: block;
  width: calc(100vw - 300px);
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 25px;

  /* DarkVibrant */
  color: var(--primary-dark);
}


.dataGrid {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.dataTop {

  display: flex;
  align-items: center;
  height: 50px;
}

.dataTopCircle {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.dataTopCircle::after {

  content: ' ';
  border-radius: 50%;
  border: 3px solid var(--primary-dark);
  width: 15px;
  height: 15px;
  transition: all ease-in-out 0.3s;
}

.dataGrid:hover > .dataTop > .dataTopCircle::after {
  background-color: var(--primary-dark);
}


.dataTopTitle {
  margin: 0 0 0 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;

  /* DarkVibrant */
  color: var(--primary-dark);
}

.dataBody {
  display: flex;
  height: 100%;
}

.dataBodyLine {

  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dataBodyLine::after {
  content: '.';
  background-color: var(--primary-dark);
  color: var(--primary-dark);
  width: 5px;
  height: 80%;
  padding: 50px 0 50px 0;
  border-radius: 20px;


}


.dataBodyContent {

  display: flex;
  flex-direction: column;
}


.dataRow {
  background: #006BAD linear-gradient(to right, #006BAD, rgba(0, 107, 173, 0));
  margin: 10px;
  color: #FFFFFF;
  padding: 20px;
  min-width: 600px;
  border-radius: 8px;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all ease-in-out 0.2s;


}


.dataRow:hover {
  background-color: #009ED5;
  text-decoration: none;
  color: #EFEFEF;

}

.dataRow::after {
  content: '>';
  font-size: 2rem;
  margin: 0 0 0 auto;
  color: #006BAD;

}

.dataRow > img {
  max-width: 200px;
}

.dataRowContent {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataRowHeader {
  font-size: 1.5rem;
}

.dataRowBody {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.dataRowBodyDescription {
  width: 300px;
  display: flex;
  flex-wrap: wrap;

}


.button {
  margin: 75px;
  background-color: var(--primary);
  color: var(--primary-light);
  font-size: 20px;
  padding: 15px;
  width: 75%;
  height: 90px;
  border-radius: 8px;
  border: none;
  cursor: pointer;


}

.button:hover {

  background-color: var(--primary-light);
  color: var(--primary);
  border-radius: 16px;
  border: 3px solid var(--primary);

}
